***Python Basics***

*Comments and Basic Data Types*

In [ ]:
# this is a comment

"""
This is a multiline comment
"""

print("Hello")      # this is also a comment

Hello

In [ ]:
# the following are all integers
print (2)
print (10)

2
10

In [40]:
# the following are all floats
print (10.953)
print (8.0)         # even this is a float

10.953
8.0

In [ ]:
# the following are all booleans
print(True)
print(False)

True
False

In [ ]:
# the following are strings
print(" ")          # prints an empty line
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

*Exercises*

In [16]:
print("Caitlin")

Caitlin

In [41]:
type(8)         # will output class type, in this case <class 'int'>

int

In [18]:
type(8.0)

float

*Variables* <br>
> Variables are **case sensitive**

In [ ]:
# storing integers and floats into a variable
num1 = 5
num2 = 8.4
print(num1, num2)       # you can print multiple items using commas

5 8.4

In [ ]:
# storing a boolean into a variable
switch = True
print(switch)

True

In [ ]:
# storing strings into a variable
name = "John Smith"
fav_number = '9'            # '9' is string, not an integer
print(name, fav_number)     # will print 9 next to the name

John Smith 9

In [12]:
# using multiple variables to creat another variable
result = num1 + num2
print(result)

13.4

In [ ]:
# adding, deleting, multiplying, dividing from a variable
result += 1         # same as saying result = result + 1
print(result)

result *= num1      # same as saying result = result * num1
print(result)       # note if you run this code again, it will use the updated value of result

14.4
72.0

In [ ]:
#defining a variable and overwriting its value
name = 'John'
print(name)
name = 'Sam'
print(name)         # Python reads the code line-by-line

John
Sam

In [72]:
# white space vs spacing characters
name = 'John Smith'     # spaces either sie of = make the code easier to read, but are ignored when run
                        # space inside 'John Smith' is a character and is read

*Exercises*

In [25]:
x = 3
y = 10
result = x*y
print(x,' * ', y, ' = ', result)    # print full equation, using techniques learned so far

print(f'{x}*{y}={result}')          # print using an f function

3  *  10  =  30
3*10=30

In [32]:
width = 245.54
height = 13.66
area = width*height
print('Area =', area,'"')

Area = 3354.0764 "

*Working with Strings*

In [26]:
# using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [28]:
# using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [38]:
# injecting variables using the format method
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 28))

# using the new f strings
name = "John"
print(f"Hello {name}")

Hello John
Hello John, you are 28 years old!
Hello John

In [39]:
# one major difference between Python versions 2 & 3
name = 'John'
print('Hello, %s' % name)

# Python 2 multiple variable formatting
first_name = "John"
last_name = "Smith"
print("Hello, %s %s" % (first_name, last_name))

Hello, John
Hello, John Smith

Each character (element) within a string is assigned an 'index' <br>
> Indexing in most languages (including Python) begins at **0**

In [42]:
# using indexes to print each element
word = "Hello"
print(word[0])          # will output 'H'
print(word[1])          # will output 'e'
print(word[-1])         # goes backwards from 0 and will output 'o'

H
e
o

*variable_name[start : stop : step]* <br>
> start = index to begin the slice **(inclusive)** (default 0 if omitted) <br>
> stop = index to end the slice ***(exclusive)*** (default to sequence length if omitted) <br>
> step = interval (default 1 if omitted)

In [120]:
# string slicing
word = "Hello"
print(word[0:2])        # will output 'He', since the stop is exclusive just 0 and 1 are printed
print(word[0:5:2])      # will output 'Hlo'

He
Hlo

*Exercises*

In [53]:
print(23, 4.5, False, "John")

23 4.5 False John

In [55]:
name = 'Caitlin'
fav_food = 'pizza'
print(f"{name}'s favourite food is {fav_food}.")

Caitlin's favourite food is pizza.

*Manipulating Strings*

In [63]:
# using the title method to capitalise a string
name = "john smith"
print(name.title())

print(name.upper())
print(name.lower())

John Smith
JOHN SMITH
john smith

In [66]:
# replacing an exclamation point with a period
words = "Hello there!"
print(words)
print(words.replace("!", "."))      # this does not update the stored variable

# re-declare the variable to store it
words = words.replace('!', '.')
print(words)

Hello there!
Hello there.
Hello there.

In [71]:
# finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))           # will output '5' = the index location of 'o'

5

In [77]:
# removing white space with strip
name = " john "
print(name)
print(name.strip())         # removes the spaces

print(name.lstrip())        # removes spaces on the left
print(name.rstrip())        # removes spaces on the right

 john
john
john
 john

In [1]:
name = " john "
print(name)
name = name.strip()
print(name)

 john
john

In [85]:
# converting a string into a list of words
s = "These words are separated by spaces"
print(s.split(" "))                 # the space between the " " is important

s2 = "These,words,are,separated,by,commas"
print(s2.split(","))                # if spaces are added after the commas, they will be included the list

['These', 'words', 'are', 'separated', 'by', 'spaces']
['These', 'words', 'are', 'separated', 'by', 'commas']

*Exercises*

In [87]:
word = "uppercase"
print(word.upper())

UPPERCASE

In [93]:
name = "$$John Smith"
print(name.strip('$'))      # put $ in ' ' to remove string
print(name.lstrip('$'))

print(name)
name = name.strip('$')      # re-declaring the variable
print(name)

John Smith
John Smith
$$John Smith
John Smith

*Project: Printing receipts* <br>
> It is good practise to define all your variables at the start of your code <br> <br>

**Escape characters** - read in by the definining backslash \ character, the computer interprets whatever comes after the backslash <br>
> \t for *tab indentation* <br>
> \n for *new line*

In [119]:
# create a product and price for 3 items
p1_name, p1_price = "Book", 49.95               # declaring multiple variables on the same line
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

#create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

# declare ending message
message = "Thanks for shopping with us today!"      # run the cell to define the variables

# create a top border
print("*" * 50)

# print the company information first, using format
print(f"\t\t{company_name.title()}")            # indentations and capitalisation of each word in the name
print(f"\t\t{company_address}")                 # spaces matter inside the quotation marks
print(f"\t\t{company_city}")

# print a line between the sections
print("=" * 50)

# print out header for section of items
print("\tProduct Name\tProduct Price")

# create a statement for each product
print(f"\t{p1_name.title()}\t\t${p1_price}")
print(f"\t{p2_name.title()}\t${p2_price}")      # this one needs one less tab indentation (longer string)
print(f"\t{p3_name.title()}\t\t${p3_price}")

# print a line between the sections
print("="*50)

# print out a header for the total
print("\t\t\tTotal")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print(f"\t\t\t${total}")                # added a '$' so number looks like a price

# print a line between sections
print ("="*50)

# output thank you message
print(f"\n\t{message}\n")

# create a bottom border
print("*"*50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Book		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************